
#translator-popup {
	-moz-border-radius: 6px;
	background: transparent;
	border: 0;
	bottom: auto;
	color: #111;
	height: auto;
	left: 0;
	margin: 1px;
	max-width: 350px;
	min-width: 200px;
	opacity: 1;
	overflow: auto;
	outline: 0;
	padding: 0;
	position: fixed;
	right: auto;
	text-align: left;
	top: 0;
	width: auto;
	z-index: 999998;
}

#translator-popup * {
	background: transparent;
	border: 0;
	color: #111;
	cursor: auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	height: auto;
	margin: 0;
	opacity: 1;
	overflow: auto;
	outline: 0;
	padding: 0;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	width: auto;
}

#translator-popup b {
	font-weight: bold;
}

#translator-popup-message {
	max-height: 480px;
	overflow: auto;
	padding: 5px 7px;
}
	#translator-popup-message.translator-message-type-normal {
		
	}
	#translator-popup-message.translator-message-type-error {
		color: #9D0505 !important;
		font-style: italic !important;
	}

#translator-popup-message ul {
	padding-left: 20px;
}
#translator-popup-message li {
	list-style-type: disc;
	overflow: visible;
}

#translator-popup-notice {
	color: #9D0505;
	font-size: 14px;
	font-style: italic;
	padding: 5px 7px;
}

#translator-popup-update-message {
	background-color: #F4E7DE;
	border-bottom: inherit;
	color: #940505;
	font-size: 12px;
	font-style: normal;
	padding: 5px 7px;
}

#translator-popup-update-message * {
	color: inherit;
	font-size: inherit;
	font-style: inherit;
}

#translator-popup-update-message p {
	margin-bottom: 7px;
}

#translator-popup-update-message p:last-child {
	margin-bottom: 0;
}

#translator-popup-update-message em {
	color: #7C0404;
	font-size: 1.25em;
	font-style: italic;
}

#translator-popup-update-message small {
	font-size: 0.9em;
}

#translator-popup-update-message a {
	cursor: pointer;
	text-decoration: underline;
}

#translator-popup-toolbar {
	-moz-border-radius: 6px 6px 0 0;
	overflow: hidden;
	padding: 1px;
}

#translator-popup-title {
	display: block;
	float: left;
	font-size: 12px;
	height: 18px;
	line-height: 20px;
	overflow: hidden;
	padding-left: 4px;
	white-space: nowrap;
	width: 178px;
}

#translator-popup-button-copy {
	background-image: url('chrome://translator/skin/copy_icon.png');
	cursor: pointer !important;
	display: block;
	float: right;
	height: 16px;
	margin: 1px 2px 1px 1px;
	width: 16px;
}

#translator-popup-button-update {
	background-image: url('chrome://translator/skin/update_icon.png');
	cursor: pointer !important;
	display: block;
	float: right;
	height: 18px;
	margin: 0 2px;
	width: 18px;
}

#translator-popup-autocopy-notice {
	-moz-border-radius: 4px;
	background-color: #9D0505;
	color: #F0F0F0;
	float: right;
	font-size: 10px;
	height: 14px;
	line-height: 14px;
	margin: 1px 1px 1px auto;
	max-width: 150px;
	padding: 1px 4px;
	white-space: nowrap;
}

.translator-clear:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

#translator-popup.translator-theme-original {
	background-color: #D9C6B6;
	border: 3px #784F2B ridge;
}
#translator-popup.translator-theme-original #translator-popup-toolbar {
	border-bottom: 1px #784F2B ridge;
}
#translator-popup.translator-theme-original #translator-popup-message {
	color: #111;
}

#translator-popup.translator-theme-default {
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	background-color: #F0F0F0;
	border: 1px #979797 solid;
}
#translator-popup.translator-theme-default #translator-popup-toolbar {
	background-color: #D8D8D8;
	border-bottom: 1px #C8C8C8 solid;
}
#translator-popup.translator-theme-default #translator-popup-message {
	color: #111;
}

#translator-popup.translator-theme-system {
	background-color: #F0F0F0;
	border: 1px #979797 solid;
	-moz-appearance: dialog;
}
#translator-popup.translator-theme-system #translator-popup-toolbar {
	background-color: #D8D8D8;
	border-bottom: 1px #C8C8C8 solid;
	-moz-appearance: toolbox;
}
#translator-popup.translator-theme-system #translator-popup-message {
	color: -moz-dialogtext;
}

#translator-popup-loading {
	-moz-border-radius: 14px;
	-moz-box-shadow: 0 0 8px 2px #fff;
	background: #fff url('chrome://translator/skin/loading.gif') 50% 50% no-repeat;
	border: 0 none;
	bottom: auto;
	height: 14px;
	left: 0;
	margin: 4px; /* margin to allow blurred shadow */
	opacity: 1;
	overflow: hidden;
	outline: 0;
	padding: 0;
	position: fixed;
	right: auto;
	top: 0;
	width: 14px;
	z-index: 999999;
}